In [1]:
import pandas as pd
import numpy as np

import requests
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import WordPunctTokenizer
from nltk.corpus import twitter_samples

from textblob import TextBlob
from textblob import Word
    
from sklearn.feature_extraction.text import TfidfVectorizer

from bs4 import BeautifulSoup

In [2]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)

In [3]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
from google.colab import files
uploaded=files.upload()

Saving Elon_musk.csv to Elon_musk.csv

In [20]:
data=pd.read_csv("Elon_musk.csv",encoding="latin-1")

In [21]:
data

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [22]:
#droping Unnamed Column
data=data.drop(['Unnamed: 0'],axis=1)

In [23]:
data

                                                   Text
0                                @kunalb11 Im an alien
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2                   @joerogan @Spotify Great interview!
3                       @gtera27 Doge is underestimated
4     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

[1999 rows x 1 columns]

#Checking numbers of word **count**

In [24]:
data['word_count'] = data['Text'].apply(lambda x: len(str(x).split(" ")))
data[['Text','word_count']]

                                                   Text  word_count
0                                @kunalb11 Im an alien           4
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
2                   @joerogan @Spotify Great interview!           4
3                       @gtera27 Doge is underestimated           4
4     @teslacn Congratulations Tesla China for amazi...          17
...                                                 ...         ...
1994  @flcnhvy True, it sounds so surreal, but the n...          23
1995  @PPathole Make sure to read ur terms &amp; con...          12
1996                @TeslaGong @PPathole Samwise Gamgee           4
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...           7
1998                          Progress update August 28           4

[1999 rows x 2 columns]

#Checking average word length

In [25]:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['Text'].apply(lambda x: avg_word(x))
data[['Text','avg_word']].head()

                                                Text  avg_word
0                             @kunalb11 Im an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471

#Checking numbers of stop words

Stop-words are those words that donot bear any information or meaning

In [26]:
stop = stopwords.words('english')

data['stopwords']= data['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Text','stopwords']]

                                                   Text  stopwords
0                                @kunalb11 Im an alien          1
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...          4
2                   @joerogan @Spotify Great interview!          0
3                       @gtera27 Doge is underestimated          1
4     @teslacn Congratulations Tesla China for amazi...          5
...                                                 ...        ...
1994  @flcnhvy True, it sounds so surreal, but the n...         11
1995  @PPathole Make sure to read ur terms &amp; con...          2
1996                @TeslaGong @PPathole Samwise Gamgee          0
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...          2
1998                          Progress update August 28          0

[1999 rows x 2 columns]

#Checking number of special charcters

In [27]:
data['hashtags'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
data[['Text','hashtags']]

                                                   Text  hashtags
0                                @kunalb11 Im an alien         1
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...         1
2                   @joerogan @Spotify Great interview!         2
3                       @gtera27 Doge is underestimated         1
4     @teslacn Congratulations Tesla China for amazi...         1
...                                                 ...       ...
1994  @flcnhvy True, it sounds so surreal, but the n...         1
1995  @PPathole Make sure to read ur terms &amp; con...         1
1996                @TeslaGong @PPathole Samwise Gamgee         2
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...         1
1998                          Progress update August 28         0

[1999 rows x 2 columns]

#Checking number of numerics

In [28]:
data['numerics'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Text','numerics']]

                                                   Text  numerics
0                                @kunalb11 Im an alien         0
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                   @joerogan @Spotify Great interview!         0
3                       @gtera27 Doge is underestimated         0
4     @teslacn Congratulations Tesla China for amazi...         0
...                                                 ...       ...
1994  @flcnhvy True, it sounds so surreal, but the n...         0
1995  @PPathole Make sure to read ur terms &amp; con...         0
1996                @TeslaGong @PPathole Samwise Gamgee         0
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...         0
1998                          Progress update August 28         1

[1999 rows x 2 columns]

#Checking of Upper case words

In [29]:
data['upper'] = data['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Text','upper']].head()

                                                Text  upper
0                             @kunalb11 Im an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0

#Pre processing

Lower case

In [33]:
data['Text'] = data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['Text'].head()

0                               @kunalb11 im an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

Removing puntution

In [34]:
data['Text'] = data['Text'].str.replace('[^\w\s]','')
data['Text'].head()

<ipython-input-34-5a2099d0f9da>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Text'] = data['Text'].str.replace('[^\w\s]','')

0                                 kunalb11 im an alien
1    id_aa_carmack ray tracing on cyberpunk with hd...
2                     joerogan spotify great interview
3                       gtera27 doge is underestimated
4    teslacn congratulations tesla china for amazin...
Name: Text, dtype: object

Removing stop words

In [35]:
stop = stopwords.words('english')
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

Removing common words

In [37]:
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]
freq

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [38]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

Removing of rare words

In [40]:
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-10:]
freq

nyquil                1
musk                  1
negati                1
httpstco6ohta09s5l    1
carousel              1
joeingeneral          1
andrewbogut           1
typical               1
unusual               1
altho                 1
dtype: int64

In [41]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

Spelling correction

In [42]:
data['Text'][:5].apply(lambda x :str(TextBlob(x).correct()))

0                                    kunalb11 in alien
1    id_aa_carmack ray tracing cyberpunk her nextle...
2                           joerogan specify interview
3                          gtera27 done underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

#Tokenization

In [43]:
TextBlob(data['Text'][1]).words

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'nextlevel', 'tried'])

#Streaming

In [44]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [45]:
st = PorterStemmer()

data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                    kunalb11 im alien
1    id_aa_carmack ray trace cyberpunk hdr nextleve...
2                           joerogan spotifi interview
3                              gtera27 doge underestim
4    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

#Lammitization

In [51]:
from textblob import Word
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [52]:
data["Text"] = data['Text'].apply(lambda x : ' '.join([Word(word).lemmatize() for word in x.split()]))
data['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

#Advance Text Processing

N grams

In [53]:
TextBlob(data['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'im']), WordList(['im', 'alien'])]

Term Frequency
Term frequency is simply the ratio of the count of a word present in a sentence, to the length of the sentence.

Therefore, we can generalize term frequency as:

TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [54]:
tf1 = (data['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0  id_aa_carmack   1
1            ray   1
2        tracing   1
3      cyberpunk   1
4            hdr   1
5      nextlevel   1
6          tried   1

Inverse Document Frequency (IDF)
The intuition behind inverse document frequency (IDF) is that a word is not of much use to us if it’s appearing in all the documents.

Therefore, the IDF of each word is the log of the ratio of the total number of rows to the number of rows in which that word is present.

IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present

In [55]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Text'].str.contains(word)])))

tf1

           words  tf       idf
0  id_aa_carmack   1  4.166415
1            ray   1  5.035453
2        tracing   1  7.600402
3      cyberpunk   1  5.115496
4            hdr   1  6.907255
5      nextlevel   1  6.907255
6          tried   1  5.808643

Term Frequency – Inverse Document Frequency (TF-IDF)

In [56]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0  id_aa_carmack   1  4.166415  4.166415
1            ray   1  5.035453  5.035453
2        tracing   1  7.600402  7.600402
3      cyberpunk   1  5.115496  5.115496
4            hdr   1  6.907255  6.907255
5      nextlevel   1  6.907255  6.907255
6          tried   1  5.808643  5.808643

In [58]:
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(data['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7374 stored elements in Compressed Sparse Row format>

#Sentiment Analysis

In [59]:
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                 (-0.25, 0.75)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [61]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Text','sentiment']]

                                                   Text  sentiment
0                                     kunalb11 im alien  -0.250000
1     id_aa_carmack ray tracing cyberpunk hdr nextle...   0.000000
2                            joerogan spotify interview   0.000000
3                           gtera27 doge underestimated   0.000000
4     teslacn congratulation china amazing execution...   0.200000
...                                                 ...        ...
1994  true sound surreal negative propaganda still e...   0.152381
1995   make sure read ur term condition clicking accept   0.500000
1996                           teslagong samwise gamgee   0.000000
1997                     dumb dumber u0001f525u0001f525  -0.375000
1998                          progress update august 28   0.000000

[1999 rows x 2 columns]